extends ../layout

block content
    .container 
        h3 Lista de Reservas para #{alojamiento.nombre} 
        p Seleccione un alojamiento de la lista: 
        form.row.g-3(id='formulario' action=`/reservas/usuario`, method="post") 
            .col-md-6
                label.form-label(for='alojamiento') Seleccione un alojamiento:
                select.form-control(name='alojamiento', required, id='alojamiento')
                    each user in alojamientos
                        if `${user._id}` === `${alojamiento._id}`
                            option(value=`${user._id}` selected) #{user.nombre} // #{user.ciudad} // #{user.tipo} // #{user.precio}
                        else
                            option(value=`${user._id}`) #{user.nombre} // #{user.ciudad} // #{user.tipo} // #{user.precio}
        br
        table.table.table-hover.table-striped.table-bordered
            thead
                tr
                    th Nombre Cliente
                    th Apellido Cliente
                    th Nombre Hotel                
                    th Ciudad Hotel
                    th Fecha
                    th Precio
                    th Acciones
            tbody
                each reserva in reservas
                    tr
                        td= reserva.usuario.nombre
                        td= reserva.usuario.apellido
                        td= reserva.alojamiento.nombre
                        td= reserva.alojamiento.ciudad
                        td= reserva.fecha                       
                        td= reserva.precio
                        td
                            a(href=`/reservas/edit/${reserva._id}`) Editar
                            span | 
                            a(href=`/reservas/delete/${reserva._id}`) Eliminar
        br

      
    script.
        document.getElementById('alojamiento').addEventListener('change', () => {
            document.getElementById('formulario').submit();
        });

