extends ../layout

block content
    .container
        h2 Borrado de cliente
        .container 
        form(action=`/clientes/delete/${cliente._id}`, method="post") 
            label.form-label(for="nombre") Nombre:
            input.form-control(type="text", name="nombre", required, value=`${cliente.nombre}` disabled)
            br
            label.form-label(for="apellido") Apellido:
            input.form-control(type="text", name="apellido", required, value=`${cliente.apellido}` disabled)
            br
            label.form-label(for="telefono") Telefono:
            input.form-control(type="tel", name="telefono", required, value=`${cliente.telefono}` disabled)
            br
            label.form-label(for="email") Correo electrónico:
            input.form-control(type="email", name="email", required, value=`${cliente.email}` disabled)
            br
            p Va a proceder al borrado del cliente 
            p ¿Está seguro?
            button.btn.btn-danger(type="submit") Sí
            a.btn.btn-primary(href="/clientes") No
