extends ../layout

block content
    .container 
        h1 Lista de clientes
        br
        table.table.table-hover.table-striped.table-bordered
            thead
                tr
                th Nombre
                th Apellidos
                th Correo electrónico 
                th Teléfono
                th Acciones
            tbody
                each cliente in clientes
                    tr
                        td= cliente.nombre
                        td= cliente.apellido
                        td= cliente.email
                        td= cliente.telefono
                        td
                            a(href=`/clientes/edit/${cliente._id}`) Editar
                            span | 
                            a(href=`/clientes/delete/${cliente._id}`) Eliminar
                            span | 
                            a(href=`/reservas/cliente/${cliente._id}`) Matricular
        br
        a(href="/clientes/create") Crear nuevo cliente 